* {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;

  &:global(.pt-dark) {
    background-color: #293742;
  }

  :global(.pt-light) {
    color: #757b83;
  }
}

.nav {
  margin-bottom: 40px;
}

.e404 {
  padding: 50px 0;
}
