.wrapper {
  width: 100%;
  height: 100%;
}

.topbar {
  position: relative;
  display: block;
  padding: 40px 0 30px;
  border-bottom: 1px solid #bfccd6;
}

.title {
  font-size: 26px;
  color: #fff;
  width: 100%;
}

:global(.pt-light) {
  .title {
    font-size: 26px;
    color: #757d85;
    width: 100%;
  }
}

.children {
  padding-top: 45px;
}

.left {
  width: calc(100% - 290px);
  height: 100%;
  float: left;
  vertical-align: top;
}

.right {
  width: 250px;
  height: 100%;
  float: left;
  vertical-align: top;
  margin-left: 40px;
  margin-top: -20px;
}

.main {
  width: calc(100% - 250px);
  height: 100vh;
  float: left;
  padding: 0 40px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;

  @media only screen and (max-width: 480px) {
    width: 100%;
    float: none;
    margin: 0 0 20px;
  }
}

.widget {
  margin: 20px 0;
}

.address {
  width: 100%;
}

.users {
  width: 500px;
  margin-top: 50px;

  @media only screen and (max-width: 1200px) {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    margin: 30px 0;
  }
}
