.logo {
  font-size: 25px;
  margin-bottom: 50px;
}

.sidebar_links {
  font-size: 15px;
  margin-bottom: 15px;
  display: block;
  text-align: left !important;
}

.theme_swith {
  margin-top: 50px;
}
